.button {
  background-color: #f5f5f6;
  color: #747880;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
}

.button__active {
  background-color: #357bfc;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
}
