.map-view-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px;
  background: #ffffff;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 500;
  border-radius: 6px;
}

.map-view-toggle-item {
  font-size: 12px;
  color: #83878d;
  font-weight: 400px;
  cursor: pointer;
}

.map-view-toggle-item__active {
  font-size: 12px;
  color: #3a3a3f;
  font-weight: 500px;
  cursor: pointer;
}
